In [3]:
import bs4
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display
#print('Librarires Successully Imported')

In [4]:
def get_basketball_stats(link='https://en.wikipedia.org/wiki/Michael_Jordan'):
    # read the webpage
    response = requests.get(link)
    soup = bs4.BeautifulSoup(response.text, 'html.parser')
    table = soup.find(class_='wikitable sortable')

    #the headers of the table are the first table row (tr) we create a tag object that has the first row
    headers = table.tr
    titles = headers.find_all('abbr')
    data = {title['title']: [] for title in titles}


    #we iterate over each table row by fining each table tag tr and assign it to the object
    for row in table.find_all('tr')[1:]:
        for key, a in zip(data.keys(),row.find_all('td')[2:]):
            data[key].append(''.join(c for c in a.text if (c.isdigit() or c == '.')))
        Min = min([len(x) for x in data.values()])
        #we convert the elements in the key to floats
        for key in data.keys():
            data[key] = list(map(lambda x: float(x), data[key][:Min]))
    return data

In [5]:
links=['https://en.wikipedia.org/wiki/Michael_Jordan'\
       ,'https://en.wikipedia.org/wiki/Kobe_Bryant'\
       ,'https://en.wikipedia.org/wiki/Ben_Simmons'\
       ,'https://en.wikipedia.org/wiki/Jayson_Tatum'\
       ,'https://en.wikipedia.org/wiki/Paul_George'\
       ,'https://en.wikipedia.org/wiki/Zion_Williamson'\
       ,'https://en.wikipedia.org/wiki/Jamal_Murray'\
       ,'https://en.wikipedia.org/wiki/Jaylen_Brown'\
       ,'https://en.wikipedia.org/wiki/Kyrie_Irving'\
       ,'https://en.wikipedia.org/wiki/Russell_Westbrook',]
names=['Michael Jordan','Kobe Bryant','Ben simmon','Jayson Tatum','Paul george','Zion Williamson', 'Jamal Murray', 'Jaylen Brown', 'Kyrie Irving', 'Russell Westbrook']

In [6]:
michael_jordan_dict = get_basketball_stats(links[0])
kobe_bryant_dict = get_basketball_stats(links[1])
ben_simmon_dict = get_basketball_stats(links[2])
jayson_tatum_dict = get_basketball_stats(links[3])
paul_george_dict = get_basketball_stats(links[4])
zion_williamson_dict = get_basketball_stats(links[5])
jamal_murray_dict = get_basketball_stats(links[6])
jaylen_brown_dict = get_basketball_stats(links[7])
kyrie_irving_dict = get_basketball_stats(links[8])
russell_westbrook_dict = get_basketball_stats(links[9])

In [7]:
mj_table = pd.DataFrame(michael_jordan_dict)
kb_table = pd.DataFrame(kobe_bryant_dict)
bs_table = pd.DataFrame(ben_simmon_dict)
jt_table = pd.DataFrame(jayson_tatum_dict)
pg_table = pd.DataFrame(paul_george_dict)
zw_table = pd.DataFrame(zion_williamson_dict)
jm_table = pd.DataFrame(jamal_murray_dict)
jb_table = pd.DataFrame(jaylen_brown_dict)
ki_table = pd.DataFrame(kyrie_irving_dict)
rw_table = pd.DataFrame(russell_westbrook_dict)

In [ ]:
mj_table
kb_table

In [ ]:
list_table =[mj_table, kb_table, bs_table, jt_table, pg_table,zw_table,jm_table,jb_table,ki_table,rw_table]

i = 0
for name in names:
    print(name)
    display(list_table[i].head(6))
    i += 1

In [11]:
import matplotlib.pyplot as plt

In [ ]:
j = 0
for name in names:
    plt.plot(list_table[j][['Points per game']],label=name)
    plt.legend()
    plt.xlabel('years')
    plt.ylabel('Points per game')

    j += 1

In [ ]:
csv_name = 'MJ1.csv'
mj_table.to_csv(csv_name)
mj_table

In [ ]:
csv_name1 = 'kb1.csv'
kb_table.to_csv(csv_name1)
kb_table

In [ ]:
csv_name2 = 'bs1.csv'
bs_table.to_csv(csv_name2)
bs_table

In [ ]:
csv_name3 = 'jt1.csv'
jt_table.to_csv(csv_name3)
jt_table

In [ ]:
csv_name4 = 'pg1.csv'
pg_table.to_csv(csv_name4)
pg_table

In [ ]:
csv_name5 = 'zw1.csv'
zw_table.to_csv(csv_name5)
zw_table

In [ ]:
csv_name6 = 'jm1.csv'
jm_table.to_csv(csv_name6)
jm_table

In [ ]:
csv_name7 = 'jb1.csv'
jb_table.to_csv(csv_name7)
jb_table

In [ ]:
csv_name8 = 'ki1.csv'
ki_table.to_csv(csv_name8)
ki_table

In [ ]:
csv_name9 = 'rw1.csv'
rw_table.to_csv(csv_name9)
rw_table